body{
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    background-image: url('bg.jpg');
    padding: 50px;

}
*{
    box-sizing: border-box;
}

a.nav{
    font-size: 2em;
    text-decoration: none;
    margin-right: 200px;
    color: white;

}

a.nav:link,a.nav:visited{
    

}

a.nav:active,a.nav:hover{
    background-color:black;
}

ul.links{
    list-style: none;
    margin-bottom: 5px;
    text-align: center;
    height: 200px;
}

li>a,#back_to_top{
    background-color: rgb(63, 31, 31); 
    color: white;
    text-align: center;
    padding: 5px;
    
}

a{
    text-decoration: none;
    margin-top: 10px;
    
}

#header{
    background-color: rgb(63, 31, 31); 
    padding:25px;
    text-align: center;

    
}

h1{
    text-align: center;
    background-color: sandybrown;
    font-size: 2em;
    color: whitesmoke;
    padding-top: 20px;
}
p{
    color: white;
}





#name{
    background-color: sandybrown;
    font-size: 3em;
    color: whitesmoke;
    height: 100px;
    padding-top: 20px;

}

h2{
    text-align: center;
    font-size: 1.5em;

}

h3{
    background-color:rgb(39, 8, 8);
    color: white;
    padding: 10px;
    
}

#dp_image{
    margin: 40px;
    margin-left: 100px;
    size: 150%;
    /* position: relative;
    top: 50px;
    left: 50px; */
}
#content_text{
    width: 60%;
    float: right;
    background-color: rgba(222, 184, 135, 0.425) ;
    padding: 40px;
}
#content{
    position: relative;
    
}

#hobby_div{
    background-color: rgba(0, 0, 0, 0.452);
}

#hobby_div li,#hobby_div div{
    color: white;
}







/* a{
    font-size: 30px;
    margin-right: 100px;
    font-family: monospace;
}
a:link, a:visited {
    text-decoration: none;
    background-color: lightskyblue;
    text-align: center;
    width: 300px;
}
a:active,a:hover{
    background-color: rgb(25, 118, 155);
}
h1{
    text-align: center;
    color: coral;
}
h2{
    text-align: center;
    color: darkcyan;
}
.red{
    color: red;
}
#name{
    font-family:fantasy;
    font-size: 70px; */